<div class="messages-container" #scrollContainer>
  <div class="messages-list">
    <div
      *ngFor="let message of messages"
      class="message-wrapper"
      [class.user-message]="message.sender === 'user'"
      [class.bot-message]="message.sender === 'bot'"
    >
      <div class="message-bubble">
        <ng-container *ngIf="message.response.type.toLowerCase() != 'form'">
          <p class="message-text">{{ message.response.text }}</p>
        </ng-container>
        <ng-container *ngIf="message.response.type.toLowerCase() == 'form'">
          <p class="message-text">{{ "Form data will appear soon..." }}</p>
          <app-dynamic-form
            [formConfig]="message.response.formConfig"
          ></app-dynamic-form>
        </ng-container>
        <span class="message-time">{{ formatTime(message.timestamp) }}</span>
      </div>
    </div>
  </div>
</div>
